*{
  margin: 0;
	padding: 0;
	list-style: none;
	border: none;
}
body{
	overflow: hidden;
}
a:link{
	text-decoration: none;
}
.header {
	width: 100%;
	position: relative;
}
.container {
	width: 475px;
	height: auto;
	margin: 0 auto;
	position: relative;
}
.headline{
	font-weight: bold;
	color: rgb(119, 110, 101);
	font-size: 3rem;
	padding: 5px 0;
	text-align: center;
}
.description{
	font-size: 1.2rem;
	text-align: center;
	color: rgb(121, 113, 106);
	position: relative;
	padding: 10px 0;
}
.bar {
	display: flex;
	justify-content: space-between;
}
.new_game{
	background-color: #8f7a66;
	width: 32%;
	font-size: 1.2rem;
	color: white;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
	vertical-align: middle;
	position: relative;	
}
.new_game span {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: white;
}
.score, .bestScore{
	width: 32%;
	height: 50px;
	background-color: rgb(187, 173, 160);
	text-align: center;
	box-sizing: border-box;
	padding: 5px;
	color: white;
	border-radius: 5px;
}
.score p, .bestScore p{
	font-size: 1rem;
}
.score span, .bestScore span{
	font-size: 1rem;
}
.content{
	width: 100%;
	height: 475px;
	border-radius: 15px;
	background-color: #bbada0;
	position: relative;
	box-sizing: border-box; 
	padding: 15px;
}
.body {
	width: 100%;
	height: 100%;
}
.grid_cell{
	width: 21.25%;
	height: 21.25%;
	background-color: #ccc0b3;
	text-align: center;
	line-height: 100px;
	font-size: 2.4rem;
	border-radius: 10px;
	float: left;
	position: absolute;	
}
.number_cell{
	width: 21.25%;
	height: 21.25%;
	text-align: center;
	border-radius: 10px;
	line-height: 100px;
	font-weight: bold;
	font-family: KaiTi, SimSun;
	font-size: 2.4rem;
	position: absolute;
}
.over {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	white-space: nowrap;
	font-size: 3rem;
	font-family: KaiTi, SimSun;
	color: #776e65;
	font-weight: bold;
	opacity: 0;
	display: none;
	z-index: 99;

}
@media screen and (max-width: 600px) {
	.container {
		width: 90vmin;
	}
	.content {
		height: 90vmin;
	}
	html {
		font-size: 14px; 
	}
	.grid_cell, .number_cell {
		line-height: 19.116vmin;
		/* line-height: calc(90vmin * 0.2124); */
		font-weight: 500;
	}
	.headline {
		font-weight: 545;
	}
}
