*{
    margin: 0;
	padding: 0;
	list-style: none;
	border: none;
}
body{
	overflow: hidden;
}
a:link{
	text-decoration: none;
}
.headline{
	font-size: 60px;
	font-weight: bold;
	color: rgb(119, 110, 101);
	position: absolute;
	top: -143px;
	left: 125px;
}
.description{
	font-size: 18px;
	color: rgb(119, 110, 101);
	position: absolute;
	top: -60px;
}
.description p:nth-child(2){
	float: right;
}
.score{
	background-color: rgb(187, 173, 160);
	position: absolute;
	left: 375px;
	top: -125px;
	width: 100px;
	height: 54px;
	text-align: center;
	box-sizing: border-box;
	padding: 5px;
	color: white;
	border-radius: 5px;
}
.score p{
	font-size: 12px;
}
.score span{
	font-size: 12px;
}
.new_game{
	background-color: #8f7a66;
	width: 115px;
	height: 40px;
	position: absolute;
	top: -60px;
	left: 360px;
	line-height: 40px;
	font-size: 20px;
	color: white;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
}
.new_game a{
	color: white;
}
.container{
	width: 475px;
	height: 475px;
	margin: 150px auto;
	border-radius: 15px;
	background-color: #bbada0;
	position: relative;
	box-sizing: border-box; 
	padding: 15px;
}
.grid_cell{
	width: 100px;
	height: 100px;
	background-color: #ccc0b3;
	text-align: center;
	line-height: 100px;
	font-size: 50px;
	border-radius: 10px;
	float: left;
	position: absolute;	
}
.number_cell{
	width: 100px;
	height: 100px;
	text-align: center;
	border-radius: 10px;
	line-height: 100px;
	font-weight: bold;
	font-family: KaiTi, SimSun;
	font-size: 50px;
	position: absolute;
}
.over{
	width: 475px;
	height: 475px;
	text-align: center;
	font-size: 50px;
	font-family: KaiTi, SimSun;
	color: #776e65;
	font-weight: bold;
	position: absolute;
	top: 30%;
	opacity: 0;
	z-index: 99;
}